@page
@model PROJEKT.Pages.CartDelModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="post" class="form-horizontal">
        <input asp-for="product.id" type="hidden" disabled/> 
      
    </form>
</body>
</html>