@page
@model IndexModel
@{
    
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1 align="center">STRONA GŁÓWNA</h1>
    <hr />
    <div align="center">
            <a style=" color: white !important;float: center;" class="btn button button4" asp-area="" asp-page="/Products/Index">Produkty</a>
            <a style=" color: white !important;float: center;" class="btn button button4" asp-area="" asp-page="/Category/Index">Kategorie</a>
            @if (User.IsInRole("Administrator") || User.IsInRole("Kierownik") || User.IsInRole("Pracownik"))
            {
                <a style="color: white!important" class="btn button button4" asp-area="" asp-page="/Orders/Index">Zamówienia</a>
            }
            @if(User.IsInRole("Administrator"))
            {
                <a style="color: white!important" class="btn button button4" asp-area="" asp-page="/Users/Index">Użytkownicy</a>
            }
            <a style=" color: white !important;float: center;" class="btn button button4" asp-area="" asp-page="/Users/Profile">Profil</a>
    </div>
</body>
</html>
