@page
@model PROJEKT.Pages.Categories.EditModel

@{
    ViewData["Title"] = "Edycja kategorii";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h2 align="center">Edycja kategorii</h2>
    <hr />
    <div class="row" style="font-size: 28px" align="center">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Category.id" />
                <div class="form-group">
                    <label asp-for="Category.shortName" class="control-label"></label>
                    <input asp-for="Category.shortName" class="form-control" />
                    <span asp-validation-for="Category.shortName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category.longName" class="control-label"></label>
                    <input asp-for="Category.longName" class="form-control" />
                    <span asp-validation-for="Category.longName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category.opis" class="control-label"></label>
                    <input asp-for="Category.opis" class="form-control" />
                    <span asp-validation-for="Category.opis" class="text-danger"></span>
                </div>
                <div  class="button1">
                    <input type="submit" value="Zapisz" class="btn button button4"/>
                    <a asp-page="./Index"class="btn button button4">Powrót do listy</a>
                </div>
            </form>
        </div>
    </div>

</body>
</html>

