@page
@model PROJEKT.Pages.Login.OutModel
@{
    ViewData["Title"] = "Wylogowano";
}
<h3 align="center">WYLOGOWANO</h3>
<div class="form-group" align="center">
    <a asp-page=@Model.GetSession() class="btn button button4">Powrót</a>
</div>