@page
@model PROJEKT.Pages.Login.OutModel
@{
    ViewData["Title"] = "Wylogowano";
}
<h3 align="center">Wylogowano</h3>
<div class="form-group" align="center">
    <a asp-page="/Products/Index"class="btn button button4">Powrót do listy</a>
</div>