@page
@using System.Security.Claims
@model PROJEKT.Pages.Login.RegisterModel
@{
   ViewData["Title"] = "Rejestracja";
}
<h2 align="center">ZAREJESTRUJ SIĘ</h2>
<hr />
<div class="container" style="font-size: 28px" align="center">
    <form class="form-horizontal" method="post">
        <a style="font-size: 16px" class="text-danger">@Html.Raw(Model.Message)</a>
        <div class="form-group">
            <label asp-for="user.userName" class="control-label"></label>
            <div class="col-sm-6">
                <input asp-for="user.userName" class="form-control">
            </div>
            <span asp-validation-for="user.userName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="user.email" class="control-label col-sm2"></label>
            <div class="col-sm-6">
                <input asp-for="user.email" class="form-control">
            </div>
            <span asp-validation-for="user.email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="user.password" class="control-label col-sm2"></label>
            <div class="col-sm-6">
                <input asp-for="user.password" class="form-control">
            </div>
            <span asp-validation-for="user.password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="password" class="control-label col-sm2"></label>
            <div class="col-sm-6">
                <input asp-for="password" class="form-control">
            </div>
            <span asp-validation-for="password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="form-group">
                <input type="submit" value="Zatwierdź" class="btn button button4" />
                <a asp-page="/Products/Index"class="btn button button4">Powrót do listy</a>
            </div>
        </div>
        @if (User.IsInRole("Administrator"))
        {
            <div class="form-group">
                <label class="control-label">Typ Użytkownika:</label>
                <select class="form-control" asp-for="user.typeID">
                    @if (Model.types != null)
                    {
                        @foreach (var item in Model.types)
                        {
                            <option value="@item.id">@item.name</option>
                        }
                    }
                </select>
            </div>
        }
    </form>
</div>
