@page
@model PROJEKT.Pages.Account.AccessDeniedModel
@{
}
<h1> NIE MASZ DOSTEPU DO WYBRANEJ STRONY</h1>
<div class="form-group">
    <a asp-page="./Index" class="btn button button4">Powrót do listy</a>
</div>