@page
@model PROJEKT.Pages.Account.AccessDeniedModel
@{
}
<h1> NIE MASZ DOSTEPU DO WYBRANEJ STRONY</h1>
<div class="form-group">
    <a asp-page=@Model.GetSession() class="btn button button4">Powrót</a>
</div>