@page
@model PROJEKT.Pages.DetailsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
   ViewData["Title"] = "Szczegóły Zamówienia";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <input asp-for="Zamowienie.id" type="hidden" disabled/>
    <div style="font-size: 28px" align="center">
        <hr />
        <dl style="font-size: 18px;" class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Zamowienie.produkty)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Zamowienie.produkty)
            </dd>
        </dl>
    </div>
    <div class="form-group">
        <a asp-page="./Edit" asp-route-id="@Model.Zamowienie.id"  class="btn button button4">Edytuj</a>
        <a asp-page="./Index"  class="btn button button4">Powrót do listy</a>
    </div>
</body>
</html>